<%- include('../layouts/header'); %>
<%- include('../layouts/subheader'); %>
<main role="main">
	<div class="container mt-3">
		<div class="my-3 p-3 bg-white rounded box-shadow">
		테스트에용
		</div>
	</div><!-- /container -->
</main>
<%- include('../layouts/subfooter'); %>
<%- include('../layouts/footer'); %>